<div id="post-{{id}}" class ="card">
    <img class = "card-image" src="{{thumbnail}}" alt="Missing Image">
    <div class = "card-body">
        <p class = "card-title">{{title}}</p>
        <p class= "card-description">{{description}}</p>
        <a href="/post/{{id}}" class = "anchor-buttons">Post Details</a>
    </div>
</div>